# Put your purchased Diskwala API key here.
DISKWALA_API_KEY=tbx_3EZ4ywe4B3HYRFlf3u_8zhseeIhOJ0a-MvWAa9c0wtM

# API endpoint shown in the Diskwala API integration docs.
DISKWALA_API_URL=https://api.teraboxdl.site/api/v1/diskwala/extract

# Optional
DISKWALA_TIMEOUT=30
PORT=5000
FLASK_DEBUG=0
